<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>imagenes</param-name>
        <param-value>/Users/aljad/Documents/NetBeansProjects/peliculas/MisPelis/web/imagenes/peliculas</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>Marcos de modulos publicos</description>
            <display-name>Header and Footer -HomePublico</display-name>
            <url-pattern>/WEB-INF/HomePublico/*</url-pattern>
            <include-prelude>/WEB-INF/HomePublico/header/header.jsp</include-prelude>
            <include-coda>/WEB-INF/HomePublico/footer/footer.jsp</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>Marcos de modulos administrativos</description>
            <display-name>Header and Footer- Administrador</display-name>
            <url-pattern>/WEB-INF/administrador/*</url-pattern>
            <include-prelude>/WEB-INF/administrador/header/header.jsp</include-prelude>
            <include-coda>/WEB-INF/administrador/footer/footer.jsp</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>Marcos de modulos Superadministrativos</description>
            <display-name>Header and Footer</display-name>
            <url-pattern>/WEB-INF/superadministrador/*</url-pattern>
            <include-prelude>/WEB-INF/superadministrador/header/header.jsp</include-prelude>
            <include-coda>/WEB-INF/superadministrador/footer/footer.jsp</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>Marcos de modulos registrado</description>
            <display-name>Header and Footer- HomeRegistrado</display-name>
            <url-pattern>/WEB-INF/HomeRegistrado/*</url-pattern>
            <include-prelude>/WEB-INF/HomeRegistrado/header/header.jsp</include-prelude>
            <include-coda>/WEB-INF/HomeRegistrado/footer/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
